/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

#topML
{
    width: 100%;
    margin: 0;
    padding: 30px 60px;
    background-color: yellow;

}
#topML img{
    height: 40px;


}

#topML h3{
    float: right;

}

#banner{
    width: 100%;
}

.botones{
    width: 100%;
  padding: 20px;
}

.botones img{
    transition:  1s;
     width: 70%;
 }
.botones img:hover {
    -webkit-box-shadow: -4px 3px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 14px -4px rgba(0,0,0,0.75);
    box-shadow: -4px 3px 14px -4px rgba(0,0,0,0.75);
    transition:  1s;
}

.titulo{
    font-size: 2em;
    padding: 30px;
}